<?xml version="1.0" encoding="UTF-8"?>
<configuration code="info" packages="com.qudian.universe.scm.base.common.log,io.sentry.log4j2">
    <appenders>
        <!--SYS_ERROR-->
        <RollingFile name="SYS_ERROR"
                     fileName="/data/logs/scm-stock/system_error.log"
                     filePattern="/data/logs/scm-stock/system_error.%d{yyyy-MM-dd}.%i.log.gz">
            <SensitivePatternLayout pattern="%d{yyyy/MM/dd HH:mm:ss.SSS} %t [%p] %c{1} (%F:%L) %msg%n">
                <replaces>
                    <!-- 身份证号 18位 -->
                    <replace regex="([1-9]\d{2})\d{11}(\d{3}[0-9Xx])" replacement="$1**************$2"/>
                    <!-- 银行卡号 -->
                    <replace regex="(\d{4})\d{8}(\d{3})" replacement="$1*****$2"/>
                    <!-- 手机号码 -->
                    <replace regex="(1\d{2})\d{4}(\d{4})" replacement="$1****$2"/>
                </replaces>
            </SensitivePatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
<!--                <maxHistory>30</maxHistory>-->
            </Policies>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY" />
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
        <RollingFile name="SYS_INFO" fileName="/data/logs/scm-stock/system_info.log"
                     filePattern="/data/logs/scm-stock/system_info.%d{yyyy-MM-dd}.%i.log.gz">
            <SensitivePatternLayout pattern="%d{yyyy/MM/dd HH:mm:ss.SSS} %t [%p] %c{1} (%F:%L) %msg%n">
                <replaces>
                    <!-- 身份证号 18位 -->
                    <replace regex="([1-9]\d{2})\d{11}(\d{3}[0-9Xx])" replacement="$1**************$2"/>
                    <!-- 银行卡号 -->
                    <replace regex="(\d{4})\d{8}(\d{3})" replacement="$1*****$2"/>
                    <!-- 手机号码 -->
                    <replace regex="(1\d{2})\d{4}(\d{4})" replacement="$1****$2"/>
                </replaces>
            </SensitivePatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
<!--                <maxHistory>30</maxHistory>-->
            </Policies>
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
        <Sentry name="Sentry" />
    </appenders>
    <loggers>
        <root level="info">
            <appender-ref ref="SYS_INFO" />
            <appender-ref ref="SYS_ERROR" />
            <appender-ref ref="Sentry" level="ERROR" />
        </root>
        <Logger name="com.qudian.universe.scm.base.dao.mapper" level="debug" additivity="false">
            <appender-ref ref="SYS_INFO"/>
        </Logger>
    </loggers>
</configuration>
